<section>
    <div class="heading flex">
        <h1>Blog Articles </h1>
        <%= button_to "Create Article", new_article_path, method: :get %>
    </div>

    <% if @articles.length == 0 %>
        <p>
            <em>No articles found.</em>
        </p>
    <% end %>

    <ul>
        <% @articles.each do |article| %>
            <li class="flex">
                <div>
                    <h2><%= article.title %></h2>
                    <em>Written by <%= article.name %></em>
                </div>
                <%= button_to "View", article_path(article), method: :get %>
            </li>
        <% end %>
    </ul>
</section>